<div>
  <img src="/images/user-icon.png" width="18px" alt="user-icon" />
  <span class="name"> name<%#= comment.user.name %> </span>
  <span class="time"> date<%#= comment.createdAt %> </span>
  <p>content<%#= comment.content %></p>
  <span> 0<%#= comment.votes %> </span>
</div>
