<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HeavenJosun</title>
  </head>
  <body>
    <h2>오류가 발생했습니다 :/</h2>
    <p>Error Message:<br /><%- message || '[unknown]' %></p>
  </body>
</html>
