<div style="display: flex">
  <div>
    <a
      href="/feeds?order=hot"
      class="tag tag-button"
      style="
        margin-left: 16px;
        font-size: 18px;
        font: Noto Sans;
        font-weight: 700;
        text-transform: unset;
      "
      role="button"
    >
      HOT
    </a>
  </div>
  <div>
    <a
      href="/feeds?order=recent"
      class="tag tag-button"
      style="
        margin-left: 16px;
        font-size: 18px;
        font: Noto Sans;
        font-weight: 700;
        text-transform: unset;
      "
      role="button"
    >
      Recent
    </a>
  </div>
  <div>
    <a
      href="/feeds?tag=λ¬Έν™”"
      class="tag tag-button"
      style="
        margin-left: 16px;
        font-size: 18px;
        font: Noto Sans;
        font-weight: 700;
        text-transform: unset;
      "
      role="button"
    >
      λ¬Έν™”
    </a>
  </div>
  <div></div>
</div>
