<div>
  <header class="site-header">
    <div style="display: inline-flex; flex-grow: 1">
      <div style="display: flex; margin-left: 10px; align-items: center">
        <a style="font-size: 10px; align-items: center; margin-right: 10px"
          ><img src="/images/태극기.png"
        /></a>
        <a href="/feeds">
          <span style="color: #20f0e4; font-size: 16px">Heaven</span>
          <span style="color: #000000; font-size: 16px"
            >Ko<span style="color: #f62525">rea</span></span
          >
        </a>
      </div>
      <div style="margin: 0px auto; flex-grow: 1">
        <div style="margin: 0px 80px; width: auto; height: auto">
          <form role="search" autocomplete="off" method="get" class="search-bar">
            <a style="font-size: 6px; display: flex; align-items: center">some lens</a>
            <input
              id="header-search-bar"
              type="search"
              name="q"
              placeholder="여기에서 헤븐조선 탐색"
              style="
                padding-left: 5px;
                -webkit-appearance: none;
                appearance: none;
                background-color: transparent;
                outline: none;
                width: 100%;
                color: #1c1c1c;
                box-sizing: border-box;
              "
            />
          </form>
        </div>
      </div>
    </div>
    <div style="margin-left: 10px; display: inline-flex">
      <div style="display: flex">
        <a
          href="/login"
          class="button login-button"
          style="
            margin-left: 16px;
            font-size: 14px;
            font: Noto Sans;
            font-weight: 700;
            text-transform: unset;
          "
          role="button"
        >
          Log In
        </a>
        <a
          href="/signup"
          class="button signup-button"
          style="
            margin-left: 16px;
            font-size: 14px;
            font: Noto Sans;
            font-weight: 700;
            text-transform: unset;
          "
          role="button"
        >
          Sign Up
        </a>
      </div>
      <div style="display: inline-flex">
        <a style="font-size: 7px; display: flex; align-items: center; margin-left: 10px"
          >some image</a
        >
        <input style="margin-left: 5px; width: 120px; color: #0079d3" type="range" value="10" />
      </div>
      <div class="dropdown" style="display: inline-block; align-items: center">
        <button class="dropdown-button" aria-expanded="TRUE" aria-haspopup="TRUE">
          Some Dropdown
        </button>
        <div class="dropdown-menu" role="menu" style="position: fixed; right: 5px; top: 39.6333px">
          <ul>
            <li>
              <div style="width: 60px">some icon</div>
              <div style="width: 100%; font-size: 18px">some Dropdown</div>
            </li>
            <li>
              <div style="width: 60px">some icon</div>
              <div style="width: 100%; font-size: 18px">some Dropdown</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</div>
