<!DOCTYPE html>
<html>
  <head>
    <title>HeavenJosun</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="_1VP69d9lk-Wk9zokOaylL " style="--background:#DAE0E6;--canvas:#DAE0E6">
      <%- include ('header') %>
      <div style="display:flex">
        <div style="display:inline-flex;margin-left:200px; margin-top:80px; width:660px; height:550px; border: 1px solid #EDEFF1; background-color:#FFFFFF; border-radius: 10px;">
          <div style="border-right:1px solid #EDEFF1 ;width:180px;">
            <img src="/images/korea.png" />
          </div>
          <form style="padding-top:110px;padding-left:60px; width:300px" action="/users/login" method="POST">
            <div style="font-size:12px; color:#A5A4A4">
              아이디
            </div>
            <input type="text" name="username" class="text-input" placeholder="아이디를 입력...">         
            </input>
            <div style="font-size:12px; margin-top:10px; color:#A5A4A4">
              패스워드
            </div>
            <input type="text" name="password" class="text-input" placeholder="비밀번호를 입력...">
            </input>
            <button type="sumbit" class="button signup-button" style="width:100%; margin-top:15px; height:40px" role="button"> 
              접속하기
            </button>
            <div style="display:inline-flex; margin-top:20px;">
              <a style="color:#A5A4A4">계정이 없으시오?</a>
              <a href="/signup" style="color:#0079D3; margin-left:10px">가입한다</a>
            </div>  
          </div>
        </div>
      </div>
    </div>
</html>

