<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="_1VP69d9lk-Wk9zokOaylL " style="--background:#DAE0E6;--canvas:#DAE0E6">
      <% include ./header.ejs %>
      <div style="display:flex">
        <div style="display:inline-flex;margin-left:200px; margin-top:80px; width:660px; height:550px; border: 1px solid #EDEFF1; background-color:#FFFFFF; border-radius: 10px; overflow:hidden;">
          <div style="border-right:1px solid #EDEFF1 ;width:180px; overflow:hidden;">
            <img src="images/korea_image.jpg" style="overflow:hidden;">
          </div>
          <form style="padding-top:110px;padding-left:60px; width:300px" action="/someSignupAction" method="POST">
            <div style="font-size:12px; color:#A5A4A4">
              Enter Username
            </div>
            <input type="text" name="username" class="text-input" placeholder="Username">         
            </input>
            <div style="font-size:12px; margin-top:10px; color:#A5A4A4">
              Enter Password
            </div>
            <input type="password" name="password" class="text-input" placeholder="Password">
            </input>
            <div style="font-size:12px; margin-top:10px; color:#A5A4A4">
              Confirm Password
            </div>
            <input type="password" name="password" class="text-input" placeholder="Confirm Password">
            </input>
            <button type="sumbit" class="button signup-button" style="width:100%; margin-top:15px; height:40px" role="button"> 
              Sign Up
            </button>
          </div>
        </div>
      </div>
    </div>
</html>

