<!DOCTYPE html>
<html>
  <head>
    <title>HeavenJosun</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="_1VP69d9lk-Wk9zokOaylL " style="--background:#DAE0E6;--canvas:#DAE0E6">
      <%- include ('header') %>
      <div style="display:flex">
        <div style="display:inline-flex;margin-left:200px; margin-top:80px; width:660px; height:550px; border: 1px solid #EDEFF1; background-color:#FFFFFF; border-radius: 10px; overflow:hidden;">
          <div style="border-right:1px solid #EDEFF1 ;width:180px; overflow:hidden;">
            <img src="images/korea.png" style="overflow:hidden;">
          </div>
          <form style="padding-top:110px;padding-left:60px; width:300px" action="/users" method="POST">
            <div style="font-size:12px; color:#A5A4A4">
              이름
            </div>
            <input type="text" name="name" class="text-input" placeholder="이름을 입력..">         
            <div style="font-size:12px; color:#A5A4A4">
              계정
            </div>
            <input type="text" name="username" class="text-input" placeholder="계정을 입력..">         
            </input>
            <div style="font-size:12px; margin-top:10px; color:#A5A4A4">
              비밀번호
            </div>
            <input type="password" name="password" class="text-input" placeholder="비밀번호를 입력..">
            </input>
            <div style="font-size:12px; margin-top:10px; color:#A5A4A4">
              비밀번호를 다시 입력하시오
            </div>
            <!-- confirm은 안 보냄 -->
            <input type="password" class="text-input" placeholder="비밀번호를 다시 입력.."> 
            </input>
            <button type="sumbit" class="button signup-button" style="width:100%; margin-top:15px; height:40px" role="button"> 
              가입한다
            </button>
          </div>
        </div>
      </div>
    </div>
</html>

